.boxcontainer {
  border-radius: 20px;
}

.bgcard {
  background-color: #f8b500 !important;
}

.fullHeight {
  height: 100vh;
}

.overflow {
  overflow: scroll;
}

.round {
  border-radius: 20px;
}

.app {
  background: black;
  padding: 30px;
}
